[Desktop Entry]
Type=Application
Name=Ghidra
Comment=Software reverse engineering framework
Exec=~/.config/firejail/setup.sh ghidra
Icon=ghidra
Categories=Development;Debugger;
