/zim/.config/zim/notebooks.list
/vim/.config/vim/spell/
/inkscape/.config/inkscape/cphistory.xml
/inkscape/.config/inkscape/extension-errors.log
/inkscape/.config/inkscape/pages.csv
/inkscape/.config/inkscape/dialogs-state-ex.ini
