[Desktop Entry]
Type=X-Zim-CustomTool
Version=1.0
GenericName=
Name=Word Count
Comment=Word Count
Exec=
TryExec=
Icon=
MimeType=
Terminal=false
NoDisplay=false
X-Zim-ExecTool=wc -w %f
X-Zim-ReadOnly=true
X-Zim-ShowInToolBar=false
X-Zim-ShowInContextMenu=Page
X-Zim-ReplaceSelection=true

