configuration {
    modi: "drun,run,ssh";
    font: "DejaVu Sans 12";
    bw: 2;
    show-icons: true;
    sidebar-mode: true;
    combi-modi: "drun,window";
    kb-mode-next: "Super+l,Super+Tab";
    kb-mode-previous: "Super+h,Super+Shift+Tab";
    dpi: 0;
    max-history-size: 1000;
}

@theme "sidebar"
