# Oneplus 2
## System
SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="4ee7", MODE="660", GROUP="plugdev", TAG+="uaccess"
## Fastboot
SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="d00d", MODE="660", GROUP="plugdev", TAG+="uaccess"
## Fastbootd
SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="4ee0", MODE="660", GROUP="plugdev", TAG+="uaccess"
## ADB Sideload
SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="d001", MODE="660", GROUP="plugdev", TAG+="uaccess"
## ADB
SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="4ee2", MODE="660", GROUP="plugdev", TAG+="uaccess"
## ADB OxygenOS
SUBSYSTEM=="usb", ATTRS{idVendor}=="2a70", ATTRS{idProduct}=="9011", MODE="660", GROUP="plugdev", TAG+="uaccess"
## ADB LineageOS
SUBSYSTEM=="usb", ATTRS{idVendor}=="05c6", ATTRS{idProduct}=="9001", MODE="660", GROUP="plugdev", TAG+="uaccess"

# Pocophone F1
## ADB
SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="4ee7", MODE="660", GROUP="plugdev", TAG+="uaccess"
## Fastboot
SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="d00d", MODE="660", GROUP="plugdev", TAG+="uaccess"
## ADB TWRP
SUBSYSTEM=="usb", ATTRS{idVendor}=="2717", ATTRS{idProduct}=="ff68", MODE="660", GROUP="plugdev", TAG+="uaccess"
## ADB TWRP (REIGNZ)
SUBSYSTEM=="usb", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="d001", MODE="660", GROUP="plugdev", TAG+="uaccess"
## ADB TWRP (Another one)
SUBSYSTEM=="usb", ATTRS{idVendor}=="0b05", ATTRS{idProduct}=="7773", MODE="660", GROUP="plugdev", TAG+="uaccess"
## MTP
SUBSYSTEM=="usb", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="4ee1", MODE="660", GROUP="plugdev", TAG+="uaccess"

# Adafruit Trinket
SUBSYSTEM=="usb", ATTRS{idVendor}=="1781", ATTRS{idProduct}=="0c9f", MODE="660", GROUP="plugdev", TAG+="uaccess"

# Arduino Yun
SUBSYSTEM=="usb", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="8041", MODE="660", GROUP="plugdev", TAG+="uaccess"

# Arduino Uno
SUBSYSTEM=="usb", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", MODE="660", GROUP="plugdev", TAG+="uaccess"

# Arduino Nano
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", MODE="660", GROUP="plugdev", TAG+="uaccess"

# TI-84+ CE-T
SUBSYSTEM=="usb", ATTRS{idVendor}=="0451", ATTRS{idProduct}=="e008", MODE="660", GROUP="plugdev", TAG+="uaccess"

# PICkit2
SUBSYSTEM=="usb", ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="0033", MODE="660", GROUP="plugdev", TAG+="uaccess"

# Nintendo switch
SUBSYSTEM=="usb", ATTRS{idVendor}=="057e", ATTRS{idProduct}=="3000", MODE="660", GROUP="plugdev", TAG+="uaccess"

# ST-LINK V2
SUBSYSTEM=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="3748", MODE="660", GROUP="plugdev", TAG+="uaccess"

# Switch
## System
SUBSYSTEM=="usb", ATTRS{idVendor}=="057e", ATTRS{idProduct}=="2000", MODE="660", GROUP="plugdev", TAG+="uaccess"
## DBI
SUBSYSTEM=="usb", ATTRS{idVendor}=="057e", ATTRS{idProduct}=="3000", MODE="660", GROUP="plugdev", TAG+="uaccess"
## Debugger
SUBSYSTEM=="usb", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="8b00", MODE="660", GROUP="plugdev", TAG+="uaccess"
## SysDVR
SUBSYSTEM=="usb", ATTRS{idVendor}=="057e", ATTRS{idProduct}=="3006", MODE="660", GROUP="plugdev", TAG+="uaccess"

# usbasp
SUBSYSTEM=="usb", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="05dc", MODE="660", GROUP="plugdev", TAG+="uaccess"

# logic analyzer (saleae)
SUBSYSTEM=="usb", ATTRS{idVendor}=="0925", ATTRS{idProduct}=="3881", MODE="660", GROUP="plugdev", TAG+="uaccess"

# Oculus Quest 2
## Friend
SUBSYSTEM=="usb", ATTRS{idVendor}=="2833", ATTRS{idProduct}=="0182", MODE="660", GROUP="plugdev", TAG+="uaccess"
## Mine
SUBSYSTEM=="usb", ATTRS{idVendor}=="2833", ATTRS{idProduct}=="0186", MODE="660", GROUP="plugdev", TAG+="uaccess"

# RPI Pico
## Boot
SUBSYSTEM=="usb", ATTRS{idVendor}=="2e8a", ATTRS{idProduct}=="0003", MODE="660", GROUP="plugdev", TAG+="uaccess"

# LED Name Badge
SUBSYSTEM=="usb", ATTRS{idVendor}=="0416", ATTRS{idProduct}=="5020", MODE="660", GROUP="plugdev", TAG+="uaccess"

# Bus Pirate 5
SUBSYSTEM=="usb", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="7332", MODE="660", GROUP="plugdev", TAG+="uaccess"

# Keychron K3 Pro
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="3434", ATTRS{idProduct}=="0231", MODE="660", GROUP="plugdev", TAG+="uaccess"
