Xft.dpi: 120
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.antialias: 1
Xft.rgba: rgb
Xcursor.theme: Dot-Dark

URxvt.foreground: #FAF4FB
URxvt.background: [90]#222220
URxvt.color4: #4444FF
URxvt.color12: #4444FF
URxvt.cursorColor: #FAF4FB

URxvt.depth: 32
URxvt.font: xft:monospace:size=10
URxvt.letterSpace: -1
URxvt.internalBorder: 6

URxvt.scrollstyle: plain
URxvt.scrollBar_right: true
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true
URxvt.secondaryScroll: false

URxvt.perl-ext-common: default,keyboard-select,new-window
URxvt.keysym.M-Return: perl:new-window
URxvt.keysym.M-d: perl:new-fm
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keyboard-select.clipboard: true
