#!/bin/sh
f() { f=$1; rm "${XDG_CONFIG_HOME:-$HOME/.config}/$1"; }
g() { g=$(printf ' --group %s' "$@"); }
k() { kwriteconfig6 --file $f $g --key "$@"; }

f kdeglobals
    g General
        k TerminalApplication kitty
        k TerminalService kitty.desktop

f kglobalshortcutsrc
    g services kitty.desktop
        k _launch Ctrl+Alt+T
    g services org.kde.konsole.desktop
        k _launch none

f kwinrc
    g Desktops
        k Number 4
        k Rows 2
    g Plugins
        k magiclampEnable true
        k sheetEnabled true
        k squashEnabled false
        k wobblywindowsEnabled true
    g Effect-wobblywindows
        k Drag 85
        k Stiffness 10
        k WobblynessLevel 1

f ksmserverrc
    g General
        k loginMode emptySession

f kcminputrc
    g Keyboard
        k RepeatDelay 300
        k RepeatRate 50
