#!/bin/sh
IFS='
'
c="${XDG_CONFIG_HOME:-$HOME/.config}"
f=
f() {
    test -n "$f" -a -f "$c/$f" && rm -f "$c/$f.old"
    f=$1
    test -n "$f" -a -f "$c/$f" && mv "$c/$f" "$c/$f.old"
}
a() { f=$1; }
g() { g=$(printf '%s\n' "$@"); }
_k() {
    p="$1"; shift
    set -- --key "$@"
    for x in $g; do set -- "$@" --group "$x"; done
    "$p" --file $f "$@"
}
k() { _k kwriteconfig6 "$@"; }
r() { f="$f.old" _k kreadconfig6 "$@"; }

f kdeglobals
    g General
        k AccentColor 61,212,37
    g KDE
        k LookAndFeelPackage $(r LookAndFeelPackage --default org.kde.breezetwilight.desktop)

f kwinrc
    g Desktops
        k Number 4
        k Rows 2
    g Plugins
        k magiclampEnabled true
        k sheetEnabled true
        k squashEnabled false
        k wobblywindowsEnabled true
    g Effect-wobblywindows
        k Drag 85
        k Stiffness 10
        k WobblynessLevel 1

f ksmserverrc
    g General
        k loginMode emptySession

f kcminputrc
    g Keyboard
        k RepeatDelay 300
        k RepeatRate 50
    g Libinput 1267 118 "Elan Touchpad"
        k DisableWhileTyping false
        k LmrTapButtonMap true

f kglobalshortcutsrc
    g services org.kde.konsole.desktop
        k _launch Ctrl+Alt+T

f

if command -v kitty > /dev/null; then
a kdeglobals
    g General
        k TerminalApplication kitty
        k TerminalService kitty.desktop
a kglobalshortcutsrc
    g services kitty.desktop
        k _launch Ctrl+Alt+T
    g services org.kde.konsole.desktop
        k _launch none
fi
